<p id="notice"><%= notice %></p>

<h1>Listing Zoos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
			<th>Species</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoos.each do |zoo| %>
      <tr>
        <td><%= zoo.name %></td>
				<td><%= zoo.species %></td>
				<td><%= link_to 'Animals', zoo_animals_url(zoo) %></td>
        <td><%= link_to 'Show', zoo %></td>
        <td><%= link_to 'Edit', edit_zoo_path(zoo) %></td>
        <td><%= link_to 'Destroy', zoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zoo', new_zoo_path %>
