<p id="notice"><%= notice %></p>

<h1>Listing Animals for '<%=@zoo.name.capitalize%>'</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.species %></td>
        <td><%= link_to 'Show', [@zoo, animal] %></td>
        <td><%= link_to 'Edit', edit_zoo_animal_path(@zoo,animal) %></td>
        <td><%= link_to 'Destroy', [@zoo,animal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_zoo_animal_path(@zoo) %>
<%= link_to 'All Zoos', zoos_url %>
